services:
  postgres:
    image: postgres:16
    container_name: app-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    container_name: java-app
    depends_on:
      - postgres
    ports:
      - "7070:7070"
    restart: always

volumes:
  pgdata: